.footer {
  min-height: 100px;
  background-color: darkslategrey;
  display: flex;
  justify-content: space-evenly;
}

.footerBox h1{
  color: black;
  padding: 50px;
}

.footerBox {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  padding: 20px 0px 20px 0px;
  border: 1px solid black;
}


@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}